FQDNLookup true
Interval 60

LoadPlugin syslog

<Plugin syslog>
        LogLevel info
</Plugin>

LoadPlugin cpu
LoadPlugin network
LoadPlugin Disk
LoadPlugin interface
LoadPlugin Memory
LoadPlugin df


<Plugin cpu>
        ReportByCpu   false
        ReportByState true
        ValuesPercentage false
</Plugin>

<Plugin disk>
        Disk "/[a-z]/"
        IgnoreSelected false
</Plugin>

<Plugin interface>
        Interface "/^veth*/"
        IgnoreSelected true
</Plugin>

<Plugin "network">
    Server "{{ influxdb_host }}" "{{ influxdb_port }}"
</Plugin>

<Plugin "df">
    IgnoreSelected true
    ValuesPercentage true
</Plugin>

<Include "/etc/collectd/collectd.conf.d">
    Filter "*.conf"
</Include>
