# Aerospike database configuration file.

security {
    enable-security true
}

service {
    user root
    group root
    cluster-name {{ cluster_name }}
    paxos-single-replica-limit 1 # Number of nodes where the replica count is automatically reduced to 1.
    proto-fd-max 15000
    log-local-time true
    feature-key-file /etc/aerospike/features.conf
    {% set nodeid = ansible_facts['nodename']|md5 %}
    node-id {{ nodeid[0:16] }}
}

network {

    {% if tls_enabled %}tls {{ tls_name }} {
        cert-file {{ certificates_directory }}/server.crt
        ca-file {{ certificates_directory }}/ca.crt
        key-file {{ certificates_directory }}/server.key
    }
    {% endif %}

    service {
        {% if tls_enabled %}tls-port {{ tls_service_port }}
        tls-address {{ ansible_default_ipv4.address }}
        tls-authenticate-client false
        tls-name {{ tls_name }}{% else %}port {{ service_port }}
        {% endif %}	
    }

    heartbeat {
        mode mesh
        port {{ heartbeat_port }}
        {% for host in play_hosts %}
        mesh-seed-address-port {{ hostvars[host]['ansible_default_ipv4']['address'] }} {{heartbeat_port}}
        {% endfor %}
        {# "mesh-seed-address-port $ip 3002\n\t\t"  for all the hosts in the cluster#}
        address {{ ansible_default_ipv4.address }}
        interval 150
        timeout 10
    }

    fabric {
        {% if tls_enabled %}tls-port {{ tls_fabric_port }}
        tls-address {{ ansible_default_ipv4.address }}
        tls-name {{ tls_name }}{% else %}port {{ fabric_port }}
        {% endif %}	
    }

    info {
        port {{ info_port }}
    }
}

logging {
    file /var/log/aerospike/aerospike.log {
        context any info
        context migrate debug
    }
}

{% for item_dict in namespaces %}
{% for key in item_dict.keys() %}
namespace {{ key }} {
    memory-size 2G
    replication-factor 2
    default-ttl 0
    high-water-disk-pct {{ item_dict[key]['high_water_disk_pct'] }}
    high-water-memory-pct {{ item_dict[key]['high_water_memory_pct'] }}
    stop-writes-pct {{ item_dict[key]['stop_writes_pct'] }}
    storage-engine device {
        file /var/lib/aerospike/{{ key }}.dat
        filesize 2G
        data-in-memory true
        write-block-size 128K
        defrag-lwm-pct 50
        defrag-startup-minimum 10
    }
}

{% endfor %}
{% endfor %}

