; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "/var/log/riemann/riemann.log"})
(def send-influx
    (influxdb {
        :version :0.9
        :host "192.168.1.6"
        :port 8086
        :db "riemann"
        :username "admin"
        :password "admin"
        :timeout 1000000})
)

; Listen on the local interface over TCP (5555), UDP (5555), and websockets
; (5556)
(let [host "192.168.1.11"]
  (tcp-server {:host host})
  (udp-server {:host host})
  (ws-server  {:host host}))

; Expire old events from the index every 5 seconds.
(periodically-expire 5)

(let [index (index)]
  ; Inbound events will be passed to these streams:
  (streams
    
    (default :ttl 60
      ; Index all events immediately.
      index
      send-influx
      ; Log expired events.
      (expired
        (fn [event] (info "expired" event))))))
